html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Josefin+Sans:wght@200&family=Mukta:wght@200&family=Palette+Mosaic&family=Red+Hat+Mono:wght@300&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap');


/*Начало стилизации лэндинга*/
body{
	// background-color: #fff4d5;
    max-width: 1440px;
	height: 9151px;
    box-sizing: border-box;
    font-family:'Gentium Plus', serif;
	position: relative;
}


/*Верстка шапки*/

.container{
	margin: 47px 48px 0 68px;
	position: absolute;
	letter-spacing: 0.3px;

	.group1{
		display: flex;
		justify-content: space-between;
		padding-bottom: 46px;
	}
}

.navigation{
	margin-left: 554px;
	flex-wrap: wrap;
}

.List{
	display: flex;
	justify-content: space-between;


	.text1,
	.text2,
	.text3,
	.text4{
		margin-left: -55px;
		padding-right: 75px;
	}

	.text1,
	.text2,
	.text3{
		padding-top: 20px;
	}

	.text4{
		padding: 20px;
		border: 0.866667px solid #219653;
		border-radius: 25px;
	}
}

.ssylka{
	color: black;
	text-decoration: none;

}

.ssylka__3{
	color: #219653;
}

.ssylka__4{
	color: #219653;
	font-weight: 600;
}


.section1{
	text-align: center;
	font-size: 30px;
	font-weight: 900;

	.Wildberries{
		color: #BE20A5;
	}
	.ozon{
		color: #0069FF;

	}
}

/*Верстка main*/

/*main-Body*/

.main__Body {
	margin-top: 300px;
}

.main__group2{
	display: flex;
	justify-content: flex-start;
	position: relative;
	align-items: center;
	width: 869px;
	background-color: #F0F3F6;
	padding: 5px;
	
}

.TreeCircle{
	display: flex;
	justify-content: flex-start;
	margin-left: 50px;
}

.red{
	width: 5px;
	height: 5px;
	border: #FC615D solid 1px;
	border-radius: 25px;
	background-color: #FC615D;
}
.yellow{
	width: 5px;
	height: 5px;
	border: #FDBD42 solid 1px;
	border-radius: 25px;
	background-color: #FDBD42;
	margin-left: 5px;
}
.green{
	width: 5px;
	height: 5px;
	border: #34C94A solid 1px;
	border-radius: 25px;
	background-color: #34C94A;
	margin-left: 5px;
}

.main__row{
	font-size: 12px;
	color:  #333D37;
	align-items: center;
	margin-left: 300px;
}

.main__image1{
	position: absolute;
}

.main__frame1{
	display: flex;
	align-items: center;
}

.main__group3{
	border: #ffffff 1px solid;
	border-radius: 45px;
	background-color: #fff;
	box-shadow: 1px 1px 10px #B2D8C2;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
	margin-bottom: 50px;
	margin-left: 300px;
	padding: 5px 25px;
}

.main__frameSpan{
	color: #219653;

	padding-left: 10px;
}


/*Sidebar*/

.main__sidebar{
	position: absolute;
	right: -380px;
	top: 300px;
}

.main__column1{
	display: flex;
	flex-direction: column;
	width: 260px;
	height: 84px;
	left: 1059px;
	top: 389px;
	padding-bottom: 40px;
}
.main__column1Title{
	padding-bottom: 10px;
	font-weight: bold;
}


.main__column2{
	display: flex;
	flex-direction: column;
	width: 260px;
	height: 84px;
	left: 1059px;
	top: 389px;
	padding-bottom: 40px;
}
.main__column2Title{
	padding-bottom: 10px;
	font-weight: bold;
}
.main__column3{
	display: flex;
	flex-direction: column;
	width: 260px;
	height: 84px;
	left: 1059px;
	top: 389px;
	padding-bottom: 40px;
}
.main__column3Title{
	padding-bottom: 10px;
	font-weight: bold;
}

.main__frame269{
	padding-top: 95px;
	text-align: center;
}

.main__text6{
	display: block;
	color: #219653;
	font-weight: 400px;
	text-align: center;
	letter-spacing: 0.3px;
}