html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Josefin+Sans:wght@200&family=Mukta:wght@200&family=Palette+Mosaic&family=Red+Hat+Mono:wght@300&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap');


/*Начало стилизации лэндинга*/
body{
    max-width: 1440px;
	height: 9151px;
    box-sizing: border-box;
    font-family:'Gentium Plus', serif;
	position: relative;
}


/*Верстка шапки*/

.container{
	margin: 47px 48px 0 68px;
	position: absolute;
	letter-spacing: 0.3px;

	.group1{
		display: flex;
		justify-content: space-between;
		padding-bottom: 46px;
	}
}

.navigation{
	margin-left: 554px;
	flex-wrap: wrap;
}

.List{
	display: flex;
	justify-content: space-between;


	.text1,
	.text2,
	.text3,
	.text4{
		margin-left: -55px;
		padding-right: 75px;
	}

	.text1,
	.text2,
	.text3{
		padding-top: 20px;
	}

	.text4{
		padding: 20px;
		border: 0.866667px solid #219653;
		border-radius: 25px;
	}
}

.ssylka{
	color: black;
	text-decoration: none;

}

.ssylka__3{
	color: #219653;
}

.ssylka__4{
	color: #219653;
	font-weight: 600;
}


.section1{
	text-align: center;
	font-size: 30px;
	font-weight: 900;

	.Wildberries{
		color: #BE20A5;
	}
	.ozon{
		color: #0069FF;

	}
}

/*Верстка main*/

/*Верстка section2 && section3*/

.mainsection23 {
	margin-top: 250px;
}


.group2{
	display: flex;
	justify-content: flex-start;
}

.TreeCircle{
	display: flex;
	justify-content: flex-start;
	padding-right: 5px;
	margin-left: 50px;
}

.red{
	width: 5px;
	height: 5px;
	border: red solid 1px;
	border-radius: 25px;
	background-color: red;
}
.yellow{
	width: 5px;
	height: 5px;
	border: yellow solid 1px;
	border-radius: 25px;
	background-color: yellow;
}
.green{
	width: 5px;
	height: 5px;
	border: green solid 1px;
	border-radius: 25px;
	background-color: green;
}

.row{
	font-size: 12px;
	color:  #333D37;
	align-items: center;
	margin-left: 300px;
}

